.sticky-top { background: white; margin-bottom: 10px}
.skillselfie div { padding: 5px; border-radius: 100%; text-align: center; }
.redskill { background: red; }
.yellowskill { background: yellow; }
.blueskill { background: blue; }
.greenskill { background: green; }
.line {width: 100%;height: 5px;background:#007bff;margin: 5% 0;}